body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  font-size: 5rem;
  color: white;
  margin: auto;
  font-family: "Sacramento", cursive;
  position: absolute;
  top: 150px;
  left: 250px;
}

h2 {
  font-size: 2rem;
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
  color: #66bfbf;
}
.h2 {
  font-family: "Montserrat", sans-serif;
  color: #dbe6e6;
  position: absolute;
  top: 250px;
  left: 255px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}

h4 {
  font-family: "Montserrat", sans-serif;
}

p {
  line-height: 2;
}

a {
  text-decoration: none;
  color: #11999e;
  font-family: "Montserrat", sans-serif;
}

a:hover {
  color: #bcebeb;
}

.profile {
  width: 80%;
  margin: auto;
}

.help {
  width: 50%;
  margin: auto;
}

.btn {
  color: #11999e;
}

.footer-link {
  color: #11999e;
}

.skill-row {
  width: 50%;
  margin: 50px auto 50px auto;
  text-align: left;
  line-height: 2;
}

.skill-pic {
  width: 30%;
  position: relative;
  right: 5px;
  float: right;
  padding-left: 15px;
}
.youtube-pic {
  width: 30%;
  float: left;
  padding-right: 15px;
}

.top-container {
  position: relative; /* the box is now free to move from static position by 100px from top */
  padding-top: 10px;
  padding-bottom: 10px;
}
.dComm1 {
  float: center;
  width: 1200px;
}

.alkesh-pic {
  float: right;
  position: absolute;
  right: 55px;
  top: 30px;
}

.middle-container {
  margin: 100px auto;
  font-family: "Times New Roman", Times, serif;
  font-weight: normal;
}

.bottom-container {
  background-color: #66bfbf;
  height: 150px;
}
.copy-right {
  color: #eaf6f6;
  font-size: 0.8rem;
  padding: 20px 0;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
  margin: 100px auto 100px auto;
}

.research-pub {
  text-align: left;
  margin: 50px auto 10px auto;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.youtube-channel {
  text-align: left;
  margin: auto;
}

.myButton {
  box-shadow: 0px 1px 0px 0px #f0f7fa;
  background: linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
  background-color: #66bfbf;
  border-radius: 6px;
  border: 1px solid #057fd0;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  padding: 6px 24px;
  text-decoration: none;
  margin: auto;
}
.myButton:hover {
  background: linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
  background-color: #019ad2;
}

.pierC {
  background-color: #c2e2ee;
  height: 100px;
  width: 200px;
  text-align: center;
  float: left;
  margin-right: 20px;
  position: relative;
  bottom: 20px;
}

.iop {
  background-color: #c2e2ee;
  height: 100px;
  width: 200px;
  text-align: center;
  float: left;
  margin-right: 20px;
  position: relative;
  bottom: 20px;
}

.pierM {
  background-color: #c2e2ee;
  height: 100px;
  width: 200px;
  text-align: center;
  float: left;
  margin-right: 20px;
  position: relative;
  bottom: 20px;
}

.ieeeX {
  background-color: #c2e2ee;
  height: 100px;
  width: 200px;
  text-align: center;
  float: left;
  margin-right: 20px;
  position: relative;
  bottom: 20px;
}
